@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  color: black;
  /* background-color: #242424; */
  background-color: wheat;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.container {
  @apply w-screen h-screen flex justify-center items-center;
  max-width: none;
}

.container-elements {
  @apply flex flex-col w-full h-full p-20 gap-5;
}

header {
  @apply font-medium text-3xl w-full ; 
  font-weight: 700;
  letter-spacing: 1.2px
}

.input {
  @apply flex justify-center items-center gap-6 w-full;
}

.weight, .height {
  @apply flex items-center justify-center w-full h-52 rounded-xl;
  /* border: 1px solid white; */
}

.weight {
  background-color: #E75050
}

.height {
  background-color: #6060C7
}

.input-bar {
  @apply w-72 h-10 p-3 rounded-xl;
  background-color: #DAD9DA;
  border: 1px white solid;
}

.submit-button {
  @apply bg-gray-700 rounded-xl h-full text-black text-lg font-medium;
  letter-spacing: 1.5px;
  background-color: #50E750;
  transition: 0.2s;
  &:hover {
    color: #50E750;
    @apply bg-gray-800
  }
}

.submit-button div {
  rotate: 270deg;
}

.output {
  @apply w-full h-full grid justify-center items-center rounded-xl bg-gray-700 text-white gap-16 p-20;
  grid-template-columns: auto 1fr;
}

.bmi {
  @apply text-9xl;
  font-weight: 800;
}

.category {
  @apply text-7xl flex justify-center text-center
}

@media only screen and (max-width: 180px ){

  .container {
    @apply h-auto ;
  }
  
  .container-elements {
    @apply p-3 w-full gap-3;
  }

  header {
    @apply text-sm;
    letter-spacing: 0.8px;
  }

  .input {
    @apply flex-col gap-2;
  }
  
  .weight, .height {
    @apply w-full h-14;
  }

  .input-bar {
    @apply w-28;
    height: 0.5rem;
    font-size: 0.5rem;
  }

  .submit-button {
    @apply w-full h-10 text-sm
  }

  .submit-button div {
    rotate: 0deg;
  }

  .output {
    @apply p-4 gap-2 h-full;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
  }

  .bmi {
    @apply text-4xl flex justify-center items-center
  }

  .category {
    @apply text-xl flex justify-center text-center
  }
}

@media only screen and (min-width: 200px) and (max-width: 330px ){

  .container {
    @apply h-auto ;
  }
  
  .container-elements {
    @apply p-5 w-full gap-3;
  }

  header {
    @apply text-2xl;
    letter-spacing: 1px;
  }

  .input {
    @apply flex-col gap-4;
  }
  
  .weight, .height {
    @apply w-full h-24;
  }

  .input-bar {
    @apply w-52 h-10;
  }

  .submit-button {
    @apply w-full h-10
  }

  .submit-button div {
    rotate: 0deg;
  }

  .output {
    @apply p-8 gap-6 h-full;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
  }

  .bmi {
    @apply text-6xl flex justify-center items-center
  }

  .category {
    @apply text-4xl flex justify-center text-center
  }
}

@media only screen and (min-width: 330px) and (max-width: 400px ) and (max-height: 800px) {

  .container {
    @apply h-screen ;
  }
  
  .container-elements {
    @apply p-7 w-full gap-4;
  }

  header {
    @apply text-2xl;
    letter-spacing: 1px;
  }

  .input {
    @apply flex-col gap-4;
  }
  
  .weight, .height {
    @apply w-full h-24;
  }

  .input-bar {
    @apply w-60 h-10;
  }

  .submit-button {
    @apply w-full h-10
  }

  .submit-button div {
    rotate: 0deg;
  }

  .output {
    @apply p-8 gap-6 h-full;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
  }

  .bmi {
    @apply text-6xl flex justify-center items-center
  }

  .category {
    @apply text-4xl flex justify-center text-center
  }
}

@media only screen and (min-width: 330px) and (max-width: 400px ) and (min-height: 800px) {

  .container {
    @apply h-screen;
  }
  
  .container-elements {
    @apply p-10 w-full
  }

  .input {
    @apply flex-col ;
  }
  
  .weight, .height {
    @apply w-full h-28;
  }

  .input-bar {
    @apply w-60;
  }

  .submit-button {
    @apply w-full h-10
  }

  .submit-button div {
    rotate: 0deg;
  }

  .output {
    @apply p-8 gap-6 h-full;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
  }

  .bmi {
    @apply text-7xl flex justify-center items-center
  }

  .category {
    @apply text-5xl flex justify-center text-center
  }
}

@media only screen and (min-width: 400px) and (max-width: 600px) {

  .container {
    @apply h-screen;
  }
  
  .container-elements {
    @apply p-10 w-full
  }

  header {
    @apply text-3xl;
    letter-spacing: 1px;
  }

  .input {
    @apply flex-col ;
  }
  
  .weight, .height {
    @apply w-full h-36;
  }

  .input-bar {
    @apply w-60;
  }

  .submit-button {
    @apply w-full h-14
  }

  .submit-button div {
    rotate: 0deg;
  }

  .output {
    @apply p-6 gap-1 h-full;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
  }

  .bmi {
    @apply text-7xl flex justify-center items-center
  }

  .category {
    @apply text-5xl flex justify-center text-center
  }

}

@media only screen and (min-width: 400px) and (max-width: 600px) and (max-height: 750px) {

  .container {
    @apply h-screen gap-5;
  }
  
  .container-elements {
    @apply p-8 w-full
  }

  header {
    @apply text-xl;
    letter-spacing: 1px;
  }

  .input {
    @apply flex-col ;
  }
  
  .weight, .height {
    @apply w-full h-28;
  }

  .input-bar {
    @apply w-60;
  }

  .submit-button {
    @apply w-full h-14
  }

  .submit-button div {
    rotate: 0deg;
  }

  .output {
    @apply p-6 gap-1 h-full;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
  }

  .bmi {
    @apply text-7xl flex justify-center items-center
  }

  .category {
    @apply text-5xl flex justify-center text-center
  }

}

@media only screen and (min-width: 600px) and (max-width: 768px) {

  .container {
    @apply h-screen;
  }
  
  .container-elements {
    @apply p-10 w-full
  }

  header {
    @apply text-4xl;
    letter-spacing: 1px;
  }

  .input {
    @apply flex-col ;
  }
  
  .weight, .height {
    @apply w-full h-36;
  }

  .input-bar {
    @apply w-96 h-14 text-2xl;
  }

  .submit-button {
    @apply w-full text-3xl;
    height: 4rem;
  }

  .submit-button div {
    rotate: 0deg;
  }

  .output {
    @apply p-10 gap-0 h-full;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
  }

  .bmi {
    @apply flex justify-center items-center;
    font-size: 6rem;
  }

  .category {
    @apply text-7xl flex justify-center text-center
  }

}

@media only screen and (min-width: 768px) and (max-width: 992px) {

  .container {
    @apply h-screen;
  }
  
  .container-elements {
    @apply p-10 w-full
  }

  header {
    @apply text-4xl;
    letter-spacing: 1px;
  }

  .input {
    @apply flex-col ;
  }
  
  .weight, .height {
    @apply w-full h-40;
  }

  .input-bar {
    @apply h-16 text-2xl;
    width: 32rem;
  }

  .submit-button {
    @apply w-full text-3xl;
    height: 5rem;
  }

  .submit-button div {
    rotate: 0deg;
  }

  .output {
    @apply p-14 gap-0 h-full;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
  }

  .bmi {
    @apply flex justify-center items-center;
    font-size: 7rem;
  }

  .category {
    @apply text-7xl flex justify-center text-center;
  }

}

@media only screen and (min-width: 992px) and (max-width: 1100px) and (max-height: 600px) {

  .container-elements {
    @apply p-10 gap-4;
  }

  header {
    @apply text-2xl
  }

  .weight, .height {
    @apply h-40;
  }

  .bmi {
    @apply text-8xl
  }

  .category {
    @apply text-6xl
  }
  
}


@media only screen and (min-width: 992px) and (max-width: 1100px) and (min-height: 600px) {

  .container {
    @apply h-screen p-5;
  }
  
  .container-elements {
    @apply p-10 w-full gap-10
  }

  header {
    @apply text-5xl;
    letter-spacing: 1px;
  }

  .input {
    @apply flex-col ;
  }
  
  .weight, .height {
    @apply w-full h-40;
  }

  .input-bar {
    @apply h-16 text-2xl;
    width: 32rem;
  }

  .submit-button {
    @apply w-full text-3xl;
    height: 5rem;
  }

  .submit-button div {
    rotate: 0deg;
  }

  .output {
    @apply p-20 gap-0 h-full;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
  }

  .bmi {
    @apply flex justify-center items-center;
    font-size: 7rem;
  }

  .category {
    @apply text-7xl flex justify-center text-center;
  }

}